body {
    background-image: url("../images/city-night-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: medium;
}

h1 {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.success {
    color: greenyellow;
    padding-bottom: 1rem;
}

.failure {
    color: red;
    padding-bottom: 1rem;
}

.warning {
    color: red;
    width: 60%;
}

/* Generic Page */
.container {
    margin-top: 3rem;
    margin-left: 3rem;
}

/* Location Page */
.map {
    border: 5px outset #005c99;
    border-radius: 10px;
    margin-top: 2rem;
}

/* Flexbox Code used for Weather and Education Pages */
.flexbox-container-outer {
    display: flex;
    flex-direction: column;
}

.flexbox-container-inner-weather {
    border: 5px outset #72b8e7;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #72b8e7;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flexbox-container-inner-education {
    border: 5px outset #72b8e7;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    background-color: #e6f5ff;
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: auto;
}

.flexbox-item-1 {
    flex-grow: 1;
    color: #000000;
    text-align: center;
}

.flexbox-item-2 {
    flex-grow: 1;
    margin-left: 1rem;
    color: #000000;
    text-align: center;
    padding-left: 1rem;
    border-left: 5px solid #005c99;
}

/* Accordion for Weather Forecasts */
.accordion__button {
    display: block;
    width: 80%;
    padding: 1rem;
    outline: none;
    cursor: pointer;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-style: outset;
    border-color: #333333;
    background: #333333;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
    border-radius: 20px;
}

.accordion__button::after {
    content: "\25be";
    float: right;
    transform: scale(1.5);
}

.accordion__button--active + .accordion__content {
    display: block;
    border-radius: 0px 0px 20px 20px;
}

.accordion__button--active {
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 0px;
    border-style: outset;
    border-color: #333333;
    border-radius: 20px 20px 0px 0px;
}

.accordion__button--active::after {
    content: "\25b4"
}

.accordion__content {
    /*
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    */

    padding: 0 1rem;
    background: #E6F5FF;
    border-top: 0px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-style: outset;
    border-color: #E6F5FF;
    width: 80%;
    display: none;
    overflow: auto;
}

/* Carousel for Photos */

#prevButton {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-size: 2rem;
}

#nextButton {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}
