body {
    background-image: url("../images/city-night-wallpaper.jpg");
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

h1 {
    font-weight: bold;   
}

.success {
    color: greenyellow;
}