{% extends "page.html" %}

{% block content %}
<h1>Education</h1>
<p>This is the city: {{city}}</p>
<p>This is the state code: {{state}}</p>

<h3>Top 10 School Districts</h3>
{% if isValid == False %}
<p class="text-danger">No school districts found or API request limit reached</p>
{% endif %}
{% for district in districts %}
<p>
    {% for key in district.keys() %}
    <p>{{key + ": " + district.get(key)}}</p>
    {% endfor %}
</p>
<h6>-----------------------</h6>
{% endfor %}
{% endblock %}
<!-- This is where the lat and long is stored -->