{% extends "page.html" %}

{% block content %}
<h1>Look up a city in the US!</h1>
{% if isValid == 1 %}
<h2 class="text-success">Input Submitted!</h2>
{% endif %}
{% if isValid == -1 %}
<h2 class="text-danger">Invalid Input!</h2>
{% endif %}
<form action="" method="post">
    <p>
        {{form.city_search.label}} <br>
        {{form.city_search(size=30)}}
    </p>
    <p>
        {{form.state_search.label}} <br>
        {{form.state_search(size=30)}}
    </p>
    <p>{{form.submit()}}</p>
</form>
{% endblock %}
