{% extends "page.html" %}

{% block content %}
<h1>10 photos of {{city}}, {{state}}</h1>
<p class="warning">Disclaimer: All photos are taken from the Flickr API, which can yield some unpredictable results
    from time to time. Please browse at your own discretion!</p>
<button id="prevButton">Prev</button>
<button id="nextButton">Next</button>
<div>
    <img name="slide" src="{{photos[0].make_photo_url()}}" alt="Photo of {{city}}"/>
</div>
<script>
var i = 0;
var images_url = [{%for photo in photos%}"{{photo.make_photo_url()}}"{% if not loop.last %},{% endif %}{% endfor %}];
const prevButton = document.querySelector('#prevButton');
const nextButton = document.querySelector('#nextButton');

prevButton.addEventListener('click', ()=>{
    if(i > 0) {
            i--;
        } else {
            i = images_url.length - 1;
        }
    document.slide.src = images_url[i];
});

nextButton.addEventListener('click', ()=>{
    if(i < images_url.length - 1) {
            i++;
        } else {
            i = 0;
        }
    document.slide.src = images_url[i];
});
</script>
{% endblock %}
