{% extends "page.html" %}

{% block content %}
<h1 class="pb-3">Weather</h1>
<p>City Temperature: <span class="font-weight-bold">{{temperature}} °F</span></p>
<p>Today's Date: <span class="font-weight-bold">{{date}}</span></p>
<p>Sunrise Time: <span class="font-weight-bold">{{sunrise}}</span></p>
<p>Sunset Time: <span class="font-weight-bold">{{sunset}}</span></p>

<!--Hourly Forecast-->
<div class="accordion">
    <button type="button" class="accordion__button">Hourly Forecast</button>
    <div class="accordion__content">
        <div class="flexbox-container-outer pb-5">
            {% for report in hourly %}
            <div class="flexbox-container-inner-weather card ml-5 mt-5 pr-3">
            <span class="flexbox-item-1">
                <img src="{{report.get('icon_url')}}" alt="Weather Icon"/>
            </span>
                <span class="flexbox-item-1">{{report.get('forecast')}}</span>
                <span class="flexbox-item-1">{{report.get('temperature')}} °F</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}