{% extends "page.html" %}

{% block content %}
<h1 class="pb-3">Weather & Climate</h1>
<p>City Temperature: <span class="font-weight-bold">{{temperature}} °F</span></p>
<p>Today's Date: <span class="font-weight-bold">{{date}}</span></p>
<p>Sunrise Time: <span class="font-weight-bold">{{sunrise}}</span></p>
<p>Sunset Time: <span class="font-weight-bold">{{sunset}}</span></p>

<div>
    <h1 class="pt-3">Hourly Forecast</h1>
    <div class="flexbox-container-outer">
        {% for report in hourly %}
        <div class="flexbox-container-inner card mt-5 mb-5">
            <span class="flexbox-item-1">
                <img src="{{report.get('icon_url')}}" alt="Weather Icon"/>
            </span>
            <span class="flexbox-item-1">{{report.get('forecast')}}</span>
            <span class="flexbox-item-1">{{report.get('temperature')}} °F</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}