{% extends "page.html" %}

{% block content %}
<h1>Weather</h1>
<h4>Current City Temperature: <span class="bold">{{temperature}} °F</span></h4>
<h4>Today's Date: <span class="bold">{{date}}</span></h4>
<h4>Sunrise Time: <span class="bold">{{sunrise}}</span></h4>
<h4>Sunset Time: <span class="bold">{{sunset}}</span></h4>
<br>
<!--Hourly Forecast-->
<div class="accordion">
    <button type="button" class="accordion__button">Hourly Forecast</button>
    <div class="accordion__content">
        <div class="flexbox-container-outer">
            {% for report in hourly %}
            <div class="flexbox-container-inner-weather card">
            <span class="flexbox-item-1">
                <img src="{{report.get('icon_url')}}" alt="Weather Icon"/>
            </span>
                <span class="flexbox-item-1">{{report.get('forecast')}}</span>
                <span class="flexbox-item-1">{{report.get('temperature')}} °F</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<!--Daily Forecast-->
<div class="accordion">
    <button type="button" class="accordion__button">Daily Forecast</button>
    <div class="accordion__content">
        <div class="flexbox-container-outer">
            {% for report in daily %}
            <div class="flexbox-container-inner-weather card">
            <span class="flexbox-item-1">
                <img src="{{report.get('icon_url')}}" alt="Weather Icon"/>
            </span>
                <span class="flexbox-item-1">{{report.get('forecast')}}</span>
                <span class="flexbox-item-1">{{report.get('min_temperature')}} °F to {{report.get('max_temperature')}} °F</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}